.add-modal {
  &__decor {
    margin-bottom: rem(30);
  }

  &__text {
    margin-bottom: rem(30);
    padding: rem(16) rem(20);
    border: rem(1) dashed var(--blue-100);

    p {
      font-size: rem(16);
      font-weight: 500;
      line-height: rem(19);
      text-align: center;
    }
  }

  &__buttons {
    @include flex-all-sb;
  }
}

@include mq('lg') {
  .add-modal {
    width: 90%;
    height: 100%;

    &__decor {
      border-top: rem(1) solid var(--grey-5);
    }

    &__text {
      p {
        font-size: rem(16);
        font-weight: 500;
        line-height: rem(19);
      }
    }

    &__buttons {
      padding: rem(20);
      flex-direction: column;
      border: rem(1) solid var(--blue-400);
    }
  }
}
