.child-bought {
  .modal__content {
    max-width: rem(590);
  }

  &__block {
    &-text {
      margin-bottom: rem(30);
      font-size: rem(16);
      font-weight: 500;
      line-height: rem(19);
      text-align: center;
      color: var(--grey-3);
    }
  }

  &__list {
    padding: rem(16);
    border: rem(2) dashed var(--blue-100);
    border-radius: rem(5);
    margin-bottom: rem(30);

    &-price {
      text-align: right;
      font-size: rem(13);
      font-weight: 400;
      line-height: rem(16);
      color: #828282;
    }

    li {
      display: grid;
      grid-template-columns: rem(14) rem(332) rem(83);
      gap: rem(8);

      span {
        font-size: rem(13);
        font-weight: 400;
        line-height: rem(16);
        color: var(--grey-3);
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: rem(13);
        font-weight: 400;
        line-height: rem(16);
        color: var(--black);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      width: rem(250);
    }
  }
}

@include mq("lg") {
  .child-bought {
    &__list {
      li {
        grid-template-columns: rem(14) auto auto;
        gap: rem(20);
      }
    }

    .modal__content {
      max-width: unset;
      margin-top: 10vh;
    }
    .modal__logo {
      display: none;
    }
    .modal__body {
      padding: rem(15);
    }

    .modal__back {
      right: rem(20);
      left: unset;
    }

    &__price {
      color: var(--grey-3);
    }

    &__buttons {
      .btn.btn--accent {
        width: rem(250);
      }
    }
  }
}

@include mq("md") {
  .child-bought {
    &.modal.modal--open {
      background-color: rgba(var(--grey-3--rgb), 0.8);
    }

    .modal__main {
      padding: rem(15);
      border-radius: rem(10);
      background: var(--white);
      box-shadow: 2px 2px 8px 0px #0000001a;
    }

    &__block {
      &-text {
        text-align: left;
        max-width: rem(315);
      }
    }
  }
}
