.courses-catalog {
  padding: 0 0 rem(75);

  &__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }

  &__filter {
    //margin-left: rem(60);
    padding: rem(20);
    height: max-content;
    border-radius: rem(5);
    background-color: #fff8ed;
  }

  &__inner {
    padding: 0;
  }

  &__palen {
    @include flex-v-center;
    gap: rem(12);
  }

  &__search {
    position: relative;
    &-input {
      width: rem(306);
    }

    &-svg {
      position: absolute;
      right: rem(16);
      top: rem(12);
    }

    &-list {
    }

    &-item {
      display: flex;
      justify-content: space-between;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &__area {
    margin-bottom: rem(16);
    background: #f4f4fd;
    padding: rem(8) rem(12);

    &-input {
      position: relative;
      input {
        padding: rem(9) rem(12);
        width: 100%;
        border: none;
        background: transparent;
        margin-bottom: rem(10);

        &:focus {
          outline: none;
        }
      }
    }

    &-favorites {
      display: flex;
      flex-wrap: wrap;
      gap: rem(4);
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(3) rem(8);
      border: rem(1) solid #e0e0e0;
      border-radius: rem(2);
      color: #828282;
      font-family: "Roboto", sans-serif;
      font-size: rem(17);
      font-weight: 400;
      line-height: rem(17);
      letter-spacing: 0;
      gap: rem(8);
    }

    &-search {
      top: rem(7);
      right: 0;
      position: absolute;
      height: rem(20);
      width: rem(20);
      fill: #828282;
    }

    &-svg {
      width: rem(9);
      height: rem(9);
      fill: #bdbdbd;
    }
  }

  &__searchs {
    box-shadow: 2px 2px 8px 0 #0000001a;

    padding: rem(15);
    border-radius: rem(10);
    width: rem(300);
    background: #fff;

    &-text {
      font-family: "Roboto", sans-serif;
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
      color: #828282;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(12);
    }

    &-head {
      @include flex-all-sb;
      margin-bottom: rem(12);
    }

    &-btn {
      color: #bdbdbd;
      // text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-size: rem(16);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: rem(4) rem(18) rem(4) rem(12);
      &:hover {
        background: #eef4ff;
        transition: all 0.5s ease;
      }
    }
  }

  &__unit {
    position: absolute;
    top: rem(41);
    left: 0;
    z-index: var(--ui-index-1);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(4);

    &.--animate {
      &-show {
        animation: fadeIn 0.2s ease;
      }
      &-hide {
        animation: fadeOut 0.2s ease;
      }
    }
  }

  &__crisper {
    box-shadow: 2px 2px 8px 0 #0000001a;
    width: rem(300);
    padding: rem(16);
    background: #fff;
    border-radius: rem(10);
    

    &-text {
      color: #828282;
      margin-bottom: rem(12);
      font-family: "Roboto", sans-serif;
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      overflow-y: scroll;
      height: rem(358);
    }
  }

  &__search__item {
    &-svg {
      width: rem(8);
      height: rem(16);
      fill: #333;
    }
  }

  &__title {
    margin-bottom: rem(24);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color: #828282;
  }

  &__mobile {
    display: none;
    margin-bottom: rem(20);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid var(--grey-5);
    &-title {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: rem(24);
      font-weight: 600;
      line-height: 120%;
      color: var(--black);
    }
    &-btn {
      svg {
        width: rem(15);
        height: rem(15);
        fill: var(--grey-3);
      }
    }
  }

  &__subtitle {
    margin-bottom: rem(16);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    color: #1c1c1c;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    margin-bottom: rem(24);
  }

  &__class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(12) rem(12);
  }

  &__menu {
    @include flex-all-sb;
    margin-bottom: rem(30);
    position: relative;

    &-svg {
      width: rem(16);
      height: rem(16);
      fill: #1c1c1c;
      stroke: #1c1c1c;
    }
  }

  &__svg {
    width: rem(20);
    height: rem(20);
    fill: #fff;

    &-rocket {
      width: rem(16);
      height: rem(16);
      fill: transparent;
      stroke: #ffffff;
      stroke-width: 4;
    }

    &-stroke {
      stroke: #828282;
      fill: transparent;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__tabs {
    display: flex;
    gap: rem(30);
  }

  &__tab {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #828282;

    &--active {
      color: #7d98f6;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    padding-bottom: rem(30);
    border-bottom: rem(2) solid #e0e0e0;
  }

  &__box {
    position: relative;
  }

  &__tag {
    position: absolute;
    top: rem(12);
    left: rem(16);
    padding: rem(7) rem(5);
    font-family: "Roboto", sans-serif;
    font-size: rem(14);
    font-weight: 500;
    border-radius: rem(2);
    color: #fff;
    background: #6fcf97;
  }

  &__decor {
    @include flex-v-center;

    gap: rem(8);
    padding: rem(4) rem(5);
    border-radius: rem(2);
    background: rgba(242, 242, 242, 0.2);
    backdrop-filter: blur(0.5px);
    font-family: "Roboto", sans-serif;
    font-size: rem(13);
    font-weight: 400;
    line-height: 120%;
    color: #fff;
  }

  &__lesson {
    position: absolute;
    bottom: rem(16);
    left: rem(12);
  }

  &__review {
    position: absolute;
    right: rem(12);
    bottom: rem(16);
  }

  &__photo {
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: rem(5) rem(5) 0 0;
    }
  }

  &__info {
    @include flex;
    flex-direction: column;

    padding: rem(12) rem(16);
    border-radius: 0 0 rem(5) rem(5);
    background: #f4f4fd;

    &-title {
      max-width: rem(275);
      text-overflow: ellipsis;
      font-family: "Roboto", sans-serif;
      font-size: rem(18);
      font-weight: 700;
      line-height: 120%;
      color: #1c1c1c;
    }
  }

  &__teachers {
    @include flex-v-center;
    gap: rem(12);
    flex-wrap: wrap;
    margin: rem(12) 0 rem(12);
  }
  &__teacher {
    display: flex;
    align-items: flex-end;
    gap: rem(5);

    &-img {
      max-width: 1.25rem;
      height: 1.25rem;
      width: 1.25rem;
      border: rem(1) solid #c8d9fd;
      border-radius: 50%;

      img {
        border-radius: rem(20);
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    button {
      font-family: "Roboto", sans-serif;
      font-size: rem(14);
      font-weight: 400;
      line-height: 120%;
      color: #1c1c1c;
    }
  }

  &__conditions {
    @include flex-all-sb;
  }

  &__data,
  &__persons {
    @include flex-v-center;

    gap: rem(8);

    p,
    span {
      font-family: "Roboto", sans-serif;
      font-size: rem(13);
      font-weight: 400;
      line-height: 120%;
      color: #828282;
    }
  }

  &__price {
    @include flex-all-sb;
    margin-top: rem(12);
    padding-top: rem(12);

    border-top: rem(1) solid #c8d9fd;

    p {
      font-family: "Roboto", sans-serif;
      font-size: rem(20);
      font-weight: 500;
      line-height: 120%;
      color: #333;
    }
  }

  &__prices {
    @include flex-all-sb;
    border-top: rem(1) solid #c8d9fd;
    margin-top: rem(12);
  }

  &__cost {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 120%;
    color: #eb5757;

    &-discount {
      font-family: "Roboto", sans-serif;
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(15.6);
      letter-spacing: 0;
      color: #828282;
      s {
        text-decoration: line-through;
      }
    }
  }

  &__paginations {
    margin-top: rem(30);

    &-list {
      @include flex-v-center;
      gap: rem(12);
    }

    &-item {
      font-family: "Roboto", sans-serif;
      font-size: rem(14);
      font-weight: 500;
      line-height: 120%;
      color: #bdbdbd;
    }
    &--active {
      padding: rem(11) rem(16);
      border-radius: rem(8);
      color: #1c1c1c;
      background: #eef4ff;
    }
  }
}

@include mq("xxl") {
  .courses-catalog {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// @include mq('xl') {
//   .courses-catalog {
//     &__menu {
//       flex-direction: column;
//       align-items: baseline;
//       border: none;
//     }

//     &__navigation {
//       width: 100%;
//       padding: rem(12) rem(16);
//       margin-bottom: rem(8);
//       border-radius: rem(10);
//       background: #f2f2f2;
//     }

//     &__cards {
//       grid-template-columns: 1fr;
//     }
//   }
// }

@include mq("lg") {
  .courses-catalog {
    &__catalog {
      min-width: 0;
    }

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__menu {
      flex-direction: row-reverse;
    }

    &__btn {
      &.btn--accent {
        width: fit-content;
      }
    }

    &__menu {
      @include hide-scroll;
      overflow: scroll;
    }

    &__navigation {
      @include hide-scroll;

      overflow-y: scroll;
    }

    &__filter {
      display: none;
      background: rgba(0, 0, 0, 0.6);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: fixed;
      border-radius: 0;
      z-index: 12;
      height: 100%;

      &-body {
        @include hide-scroll;
        position: fixed;
        margin-top: rem(70);
        padding: rem(20) rem(15);
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-radius: rem(10) rem(10) 0 0;
        box-shadow: 0 rem(8) rem(24) 0 rgba(0, 0, 0, 0.13);
      }
    }

    &__inner {
      padding: rem(20);
      background: #fff8ed;
      height: rem(800);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: rem(3);
        height: rem(80);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: rem(10);
        height: rem(50);
        background-color: #a6c0fb;
      }
    }

    &__title {
      display: none;
    }

    &__mobile {
      @include flex-all-sb;
    }

    &__toggle {
      display: block;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin-top: rem(20);

      &-btn {
        width: 100% !important;
      }
    }
  }
}

@include mq("md") {
  .courses-catalog {
    &__cards {
      grid-template-columns: 1fr;
    }
    &__navigation {
      overflow: auto hidden;
    }

    &__menu {
      gap: rem(15);
      &-btn {
        span {
          display: none;
        }
      }
    }

    &__search {
      width: 100%;
      &-input {
        max-width: none;
      }
    }
  }
}

// @include mq("sm") {
//   .courses-catalog {

//     &__palen {
//       width: 100%;
//     }

// }

// класс для открытия
.visible {
  display: block;
}

.checkbox__input:checked + .checkbox__block ~ .checkbox__value {
  font-weight: 500;
  text-overflow: ellipsis;
  color: #4f4f4f;
}
