.courses-catalog {
  padding: 0 0 rem(75);
  height: 100%;

  &__wrapper {
    display: flex;
    //display: grid;
    //grid-template-columns: rem(310) auto;
    gap: rem(30);
    height: 100%;
  }

  &__body {
    flex: 0 0 rem(310);
    //max-width: rem(310);
  }

  &__filter {
    //margin-left: rem(60);
    padding: rem(20);
    height: max-content;
    border-radius: rem(5);
    background-color: #fff8ed;

    &-throw {
      width: 100%;
    }
  }

  &__catalog {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__update {
    margin-top: rem(24);
    &-btn {
      width: 100%;
    }
  }

  &__inner {
    padding: 0;
  }

  &__palen {
    @include flex-v-center;
    gap: rem(12);
  }

  &__search {
    position: relative;
    &-input {
      width: rem(306);
    }

    &-svg {
      position: absolute;
      right: rem(16);
      top: rem(12);
    }

    &-item {
      display: flex;
      justify-content: space-between;

      font-size: rem(14);
      font-weight: 500;
      line-height: rem(17);
      letter-spacing: 0;
      text-align: left;
    }

    &-list {
      li:not(:last-child) {
        margin-bottom: rem(12);
      }
    }
  }

  &__area {
    margin-bottom: rem(16);
    background: #f4f4fd;
    padding: rem(8) rem(12);

    &-favorites {
      display: flex;
      flex-wrap: wrap;
      gap: rem(4);
    }

    &-item {
      @include flex-all-sb;

      padding: rem(3) rem(8);
      border: rem(1) solid #e0e0e0;
      border-radius: rem(2);
      color: var(--grey-3);

      font-size: rem(17);
      font-weight: 400;
      line-height: rem(17);
      letter-spacing: 0;
      gap: rem(8);
    }

    &-search {
      top: rem(7);
      right: 0;
      position: absolute;
      height: rem(20);
      width: rem(20);
      fill: var(--grey-3);
    }

    &-svg {
      width: rem(12);
      height: rem(12);
      fill: #bdbdbd;
    }
  }

  &__searchs {
    box-shadow: 2px 2px 8px 0 #0000001a;

    padding: rem(15);
    border-radius: rem(10);
    width: rem(300);
    background: #fff;
    height: max-content;

    &-text {
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
      color: var(--grey-3);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(12);
    }

    &-head {
      @include flex-all-sb;
      margin-bottom: rem(12);
    }

    &-btn {
      color: #bdbdbd;
      // text-transform: uppercase;

      font-size: rem(16);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: rem(4) rem(18) rem(4) rem(12);
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(17);
      color: var(--black);

      &:hover {
        background: #eef4ff;
        transition: all 0.5s var(--ease-in-out);
      }
    }
  }

  &__unit {
    position: absolute;
    top: rem(41);
    left: 0;
    z-index: var(--ui-index-1);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: rem(4);
  }

  &__crisper {
    max-height: rem(360);
    overflow: hidden auto;
    height: max-content;
    box-shadow: 2px 2px 8px 0 #0000001a;
    width: rem(300);
    padding: rem(16);
    background: #fff;
    border-radius: rem(10);

    &-text {
      color: var(--grey-3);
      margin-bottom: rem(12);

      font-size: rem(13);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
    }

    &-list {
      min-height: min-content;
      max-height: max-content;
      display: flex;
      flex-direction: column;
      gap: rem(16);
    }

    &-block {
      margin-top: rem(12);
    }
  }

  &__crisper__block {
    &-head {
      @include flex-all-sb;
      margin-bottom: rem(14);
      cursor: pointer;

      p {
        font-size: rem(13);
        font-weight: 500;
        line-height: rem(16);
        color: var(--grey-3);
      }
    }
  }

  &__search__item {
    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--grey-3);
    }
  }

  &__title {
    margin-bottom: rem(24);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color: var(--grey-3);
  }

  &__mobile {
    display: none;
    margin-bottom: rem(20);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid var(--grey-5);
    &-title {
      text-align: center;

      font-size: rem(24);
      font-weight: 600;
      line-height: 120%;
      color: var(--black);
    }
    &-btn {
      svg {
        width: rem(15);
        height: rem(15);
        fill: var(--grey-3);
      }
    }
  }

  &__subtitle {
    @include flex-all-sb;

    margin-bottom: rem(16);
    font-size: rem(14);
    font-weight: 500;
    line-height: 120%;
    color: var(--black);

    &-btn {
      svg {
        width: rem(16);
        height: rem(8);
        fill: var(--grey-3);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(12);

    overflow: hidden;

    &-wrapper {
      display: grid;
      grid-template-rows: 0fr;

      margin-bottom: 0;

      overflow: hidden;

      transition:
        margin-bottom 0.2s var(--ease-in-out),
        grid-template-rows 0.2s var(--ease-in-out);

      &.--open {
        grid-template-rows: 1fr;

        margin-bottom: rem(24);
      }
    }
  }

  &__class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(12);
  }

  &__empty {
    @include flex-all-center;

    gap: rem(40);
    padding: rem(76) rem(60);
    border-radius: rem(10);
    background: url("/img/static/offer-bg.png") no-repeat center / cover;

    &-text {
      font-size: rem(32);
      font-weight: 600;
      line-height: rem(38);
      color: var(--black);
    }

    &-svg {
      width: rem(85);
      height: rem(71);
      fill: var(--orange-500);
    }
  }

  &__menu {
    @include flex-all-sb;
    margin-bottom: rem(30);
    position: relative;

    &-svg {
      width: rem(16);
      height: rem(16);
      fill: #1c1c1c;
      stroke: #1c1c1c;
    }
  }

  &__svg {
    width: rem(16);
    height: rem(16);
    fill: var(--orange-300);

    &-stroke {
      stroke: var(--grey-3);
      fill: transparent;
    }

    use[href$="#basket-course"] {
      fill: transparent;
      stroke: #fff;
    }
  }

  &__icon {
    width: rem(16);
    height: rem(16);
    fill: var(--white);

    &--element {
      fill: transparent;
      stroke: var(--white);
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--selected {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__tabs {
    display: flex;
    gap: rem(30);
  }

  &__tab {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: var(--grey-3);

    &--active {
      color: #7d98f6;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    margin-bottom: rem(32);
  }

  &__box {
    position: relative;
    height: rem(200);
  }

  &__tag {
    @include flex-v-center;

    position: absolute;
    top: rem(12);
    left: rem(16);
    flex-wrap: wrap;
    max-width: rem(180);
    gap: rem(4);

    li {
      padding: rem(7) rem(5);
      font-size: rem(14);
      font-weight: 500;
      border-radius: rem(2);
      color: #fff;
      background: #6fcf97;
    }
  }

  &__lesson {
    position: absolute;
    bottom: rem(16);
    left: rem(12);
  }

  &__like {
    position: absolute;
    top: rem(16);
    right: rem(17);

    svg {
      width: rem(20);
      height: rem(20);
      fill: transparent;
      stroke: var(--orange-300);
    }

    &--chosen {
      svg {
        fill: var(--orange-300);
      }
    }
  }

  &__review {
    position: absolute;
    right: rem(12);
    bottom: rem(16);

    &--decor {
      @include flex-v-center;

      gap: rem(8);
      padding: rem(4) rem(5);
      border-radius: rem(2);
      background: var(--orange-100);
      backdrop-filter: blur(0.5px);

      font-size: rem(13);
      font-weight: 400;
      line-height: 120%;
      color: var(--orange-300);
    }
  }

  &__photo {
    width: 100%;
    height: 100%;

    a {
      width: 100%;
      height: 100%;
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: rem(5) rem(5) 0 0;
    }
  }

  &__info {
    @include flex;
    flex-direction: column;
    flex: 1;
    padding: rem(12) rem(16);
    border-radius: 0 0 rem(5) rem(5);
    background: #f4f4fd;

    &-title {
      margin-bottom: auto;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: rem(330);
      font-size: rem(18);
      font-weight: 700;
      line-height: 120%;
      color: var(--black);
    }
  }

  &__teachers {
    @include flex-v-center;
    gap: rem(12);
    flex-wrap: wrap;
    margin: rem(12) 0 rem(12);
  }
  &__teacher {
    @include flex-v-center;

    gap: rem(5);

    &-img {
      max-width: 1.25rem;
      height: 1.25rem;
      width: 1.25rem;
      border: rem(1) solid #c8d9fd;
      border-radius: 50%;

      img {
        border-radius: rem(20);
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    button {
      font-size: rem(14);
      font-weight: 400;
      line-height: 120%;
      color: #1c1c1c;
    }
  }

  &__conditions {
    @include flex-all-sb;
  }

  &__data,
  &__persons {
    @include flex-v-center;

    gap: rem(8);

    p,
    span {
      font-size: rem(13);
      font-weight: 400;
      line-height: 120%;
      color: var(--grey-3);
    }
  }

  &__price {
    @include flex-all-sb;

    margin-top: rem(12);
    padding-top: rem(12);
    border-top: rem(1) solid #c8d9fd;

    p {
      font-size: rem(20);
      font-weight: 500;
      line-height: 120%;
      color: #333;
    }

    &.--loading > * {
      flex: 1;
    }

    &.--in-basket {
      justify-content: flex-end;
    }
  }

  &__prices {
    @include flex-all-sb;
    border-top: rem(1) solid #c8d9fd;
  }

  &__cost {
    position: relative;

    &-discount {
      position: absolute;
      top: rem(-13);
      left: 0;
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(15.6);
      letter-spacing: 0;
      text-decoration: line-through;
      color: var(--red);

      span {
        color: var(--grey-3);
      }

      & ~ p {
        color: var(--red);
      }
    }
  }

  &__paginations {
    padding-top: rem(32);
    border-top: rem(2) solid var(--grey-5);
    margin-top: auto;

    &-list {
      @include flex-v-center;
      gap: rem(12);
    }

    &-item {
      font-size: rem(14);
      font-weight: 500;
      line-height: 120%;
      color: #bdbdbd;
    }
    &--active {
      padding: rem(11) rem(16);
      border-radius: rem(8);
      color: #1c1c1c;
      background: #eef4ff;
    }
  }
}

@include mq("xxl") {
  .courses-catalog {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mq("lg") {
  .courses-catalog {
    &__catalog {
      min-width: 0;
    }

    &__update {
      display: none;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: unset;
    }

    &__menu {
      flex-direction: row-reverse;
    }

    &__btn {
      &.btn--accent {
        width: fit-content;
      }
    }

    &__empty {
      flex-direction: column;
      gap: rem(20);

      &-text {
        max-width: rem(265);
        font-size: rem(16);
        font-weight: 500;
        line-height: rem(19);
        text-align: center;
      }

      svg {
        width: rem(54);
        height: rem(45);
      }
    }

    .btn.btn--accent {
      width: max-content;
    }

    &__menu {
      @include hide-scroll;
      overflow: scroll;
    }

    &__navigation {
      @include hide-scroll;

      overflow-y: scroll;
    }

    &__filter {
      display: none;
      background: rgba(0, 0, 0, 0.6);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: fixed;
      border-radius: 0;
      z-index: 12;
      height: 100%;

      &-throw {
        display: none;
      }

      &-body {
        @include hide-scroll;
        position: fixed;
        margin-top: rem(70);
        padding: rem(20) rem(15);
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-radius: rem(10) rem(10) 0 0;
        box-shadow: 0 rem(8) rem(24) 0 rgba(0, 0, 0, 0.13);
      }
    }

    &__inner {
      padding: rem(20);
      background: #fff8ed;
      height: rem(800);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: rem(3);
        height: rem(80);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: rem(10);
        height: rem(50);
        background-color: #a6c0fb;
      }
    }

    &__title {
      display: none;
    }

    &__mobile {
      @include flex-all-sb;
    }

    &__toggle {
      display: block;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin-top: rem(20);

      &-btn {
        width: 100% !important;
      }
    }
  }
}

@include mq("md") {
  .courses-catalog {
    &__cards {
      grid-template-columns: 1fr;
    }
    &__navigation {
      overflow: auto hidden;
    }

    &__menu {
      gap: rem(15);
      &-btn {
        span {
          display: none;
        }
      }
    }

    &__palen {
      flex: 1;
    }

    &__search {
      width: 100%;
      &-input {
        width: 100%;
      }
    }
  }
}

// класс для открытия
.visible {
  display: block;
}

.checkbox__input:checked + .checkbox__block ~ .checkbox__value {
  font-weight: 500;
  text-overflow: ellipsis;
  color: var(--grey-2);
}
