.footer {
  padding-block: rem(20);
  background: var(--orange-100);

  &__list {
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
    align-items: center;
    gap: rem(60);

    &-link {
      @include flex-v-center;

      gap: rem(12);

      font-family: 'Roboto', sans-serif;
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(17);

      &--svg {
        svg {
          fill: transparent;
          stroke: var(--primary-orange);
        }
      }

      svg {
        width: rem(22);
        height: rem(22);
        fill: var(--primary-orange);
      }
    }

    &--last {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

@include mq('lg') {
  .footer {
    display: none;
  }
}