.header {
  padding: rem(30) 0 rem(40);

  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: rem(12);

    &-close {
      svg {
        transform: rotate(183deg);
        width: rem(16);
        height: rem(20);
      }
    }

    &-img {
      border-radius: 50%;
      border: rem(1) solid var(--blue-200);
    }

    &-close,
    &-img {
      display: none;
    }
  }

  &__title {
    font-size: rem(24);
    font-weight: 600;
    line-height: rem(29);
    letter-spacing: 0;
  }

  &__time {
    @include flex-v-center;
  }

  &__list {
    @include flex-v-center;

    position: relative;
    gap: rem(20);
  }

  &__item {
    position: relative;

    &-btn {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(10);
        height: rem(10);
        background: var(--orange-400);
        border-radius: 50%;
      }
    }

    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--grey-3);
      stroke-width: rem(1);
    }

    &--basket {
      fill: transparent;
      stroke: var(--grey-3);
    }
  }

  &__school {
    display: none;
    margin-top: rem(28);
    &-menu {
      @include flex-v-center;

      gap: rem(15);
      border: rem(1) solid var(--orange-400);
      padding: rem(8) rem(16);
      border-radius: rem(5);

      font-size: rem(14);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
    }

    &-svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &__hours,
  &__minutes,
  &__seconds {
    font-weight: 400;
    font-size: rem(24);
    line-height: normal;
  }

  &__hours,
  &__minutes {
    &::after {
      content: ':';
    }
  }

  &__title {
    font-size: rem(24);
    font-weight: 600;
    line-height: rem(29);
    letter-spacing: 0;
  }

  &__account {
    position: relative;
    overflow: hidden;

    width: rem(34);
    height: rem(34);

    border-radius: 50%;
    border: rem(1) solid var(--blue-200);
  }

  &__submenu {
    position: fixed;
    top: rem(70);
    right: rem(30);

    width: rem(236);
    padding: rem(24);

    background: #fff;
    z-index: var(--ui-index-1);
    border-radius: rem(10);
    box-shadow: rem(0) rem(8) rem(24) rem(0) #00000021;

    &-name {
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(17);
    }
  }

  &__buttons {
    margin-top: rem(16);

    &-btn {
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(16);
      color: var(--grey-5);
      padding: rem(11) rem(16);

      &:first-child {
        border-radius: rem(5) 0 0 rem(5);
        border: rem(1) solid var(--grey-4);
        border-right: none;
      }

      &:last-child {
        border-radius: 0 rem(5) rem(5) 0;
        border: rem(1) solid var(--grey-4);
        border-left: none;
      }

      // active class for button lang
      &.header__buttuns-btn--active {
        background: var(--orange-400);
        color: var(--white);
        border-color: var(--orange-400);
      }
    }
  }

  &__block {
    border-top: rem(1) solid var(--grey-5);
    padding: rem(16) 0;
    border-bottom: rem(1) solid var(--grey-5);
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &-link {
      @include flex-v-center;

      color: var(--black);

      font-size: rem(14);
      font-weight: 400;
      line-height: rem(17);
      gap: rem(11);
    }

    &-svg {
      width: rem(20);
      height: rem(20);
    }
  }

  &__lesson {
    @include flex-v-center;
    gap: rem(8);
  }

  &__manual {
    @include flex-all-center;

    border-radius: rem(5);
    width: rem(32);
    height: rem(32);
    background-color: var(--bg);

    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--blue-300);
    }
  }
}

@include mq('lg') {
  .header {
    &__submenu {
      width: 45%;
      top: 0;
      right: 0;
      height: 100%;
      z-index: var(--ui-index-5);
    }

    &__school {
      display: block;
    }

    &__buttons {
      display: flex;
    }

    &__head {
      margin-bottom: rem(28);
      &-close,
      &-img {
        display: block;
      }
    }

    &__submenu {
      width: 90%;

      &-name {
        font-size: rem(20);
      }

      &-link {
        font-size: rem(18);
      }
    }

    &__buttons {
      &-btn {
        border-color: var(--orange-400);
      }
    }
  }
}

@include mq('md') {
  .header {
    &__time {
      display: none;
    }

    &__buttons {
      display: flex;
      &-btn {
        width: 100%;
      }
    }

    &__school {
      &-menu {
        display: flex;
        justify-content: center;

        width: 100%;
      }
    }

    &__title {
      font-size: rem(24);
      span {
        display: none;
      }
    }
  }
}
