.header {
  padding: rem(30) 0 rem(40);

  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: rem(12);

    &-close {
      svg {
        transform: rotate(183deg);
        width: rem(16);
        height: rem(20);
      }
    }

    &-img {
      border-radius: 50%;
      border: rem(1) solid var(--blue-200);
    }

    &-close,
    &-img {
      display: none;
    }
  }

  &__title {
    font-size: rem(24);
    font-weight: 600;
    line-height: rem(29);
    letter-spacing: 0;
  }

  &__time {
    @include flex-v-center;
  }

  &__list {
    @include flex-v-center;

    position: relative;
    gap: rem(20);
  }

  &__item {
    position: relative;

    &-btn {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(10);
        height: rem(10);
        background: var(--orange-400);
        border-radius: 50%;
      }
    }

    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--grey-3);
      stroke-width: rem(1);
    }

    &--basket {
      fill: transparent;
      stroke: var(--grey-3);
    }
  }

  &__school {
    display: none;
    margin-top: rem(28);
    &-menu {
      @include flex-v-center;

      gap: rem(15);
      border: rem(1) solid var(--orange-400);
      padding: rem(8) rem(16);
      border-radius: rem(5);

      font-size: rem(14);
      font-weight: 500;
      line-height: rem(16);
      letter-spacing: 0;
    }

    &-svg {
      width: rem(16);
      height: rem(16);
    }
  }

  &__hours,
  &__minutes,
  &__seconds {
    font-weight: 400;
    font-size: rem(24);
    line-height: normal;
  }

  &__hours,
  &__minutes {
    &::after {
      content: ':';
    }
  }

  &__title {
    font-size: rem(24);
    font-weight: 600;
    line-height: rem(29);
    letter-spacing: 0;
  }

  &__account {
    position: relative;
    overflow: hidden;

    width: rem(34);
    height: rem(34);

    border-radius: 50%;
    border: rem(1) solid var(--blue-200);
  }

  &__submenu {
    position: fixed;
    top: rem(70);
    right: rem(30);

    width: rem(236);
    padding: rem(24);

    background: #fff;
    z-index: var(--ui-index-1);
    border-radius: rem(10);
    box-shadow: rem(0) rem(8) rem(24) rem(0) #00000021;

    &-name {
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(17);
    }
  }

  &__buttons {
    margin-top: rem(16);

    &-btn {
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(16);
      color: var(--grey-5);
      padding: rem(11) rem(16);

      &:first-child {
        border-radius: rem(5) 0 0 rem(5);
        border: rem(1) solid var(--grey-4);
        border-right: none;
      }

      &:last-child {
        border-radius: 0 rem(5) rem(5) 0;
        border: rem(1) solid var(--grey-4);
        border-left: none;
      }

      // active class for button lang
      &.header__buttuns-btn--active {
        background: var(--orange-400);
        color: var(--white);
        border-color: var(--orange-400);
      }
    }
  }

  &__block {
    border-top: rem(1) solid var(--grey-5);
    padding: rem(16) 0;
    border-bottom: rem(1) solid var(--grey-5);
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &-link {
      @include flex-v-center;

      color: var(--black);

      font-size: rem(14);
      font-weight: 400;
      line-height: rem(17);
      gap: rem(11);
    }

    &-svg {
      width: rem(20);
      height: rem(20);
    }
  }

  &__children {
    &-switcher {
      @include flex;
      flex-direction: column;

      padding: rem(28) 0;

      border-bottom: rem(1) solid var(--grey-5);
    }

    &-label {
      @include flex-v-center;
      gap: 10px;

      @include mb(rem(12));

      border: rem(1) solid var(--grey-5);
      border-radius: rem(5);
      padding: rem(8) rem(16) rem(8) rem(16 + 20 + 10);

      position: relative;

      &::before {
        content: '';

        position: absolute;
        left: rem(16);

        width: rem(20);
        height: rem(20);

        background: var(--checkbox-marker) center/contain no-repeat;
      }

      &:not(.--isActive) {
        --checkbox-marker: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_3012_61302' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3012_61302)'%3E%3Cpath d='M10.0014 17.9173C8.90647 17.9173 7.87728 17.7095 6.91383 17.2939C5.95037 16.8784 5.1123 16.3144 4.39962 15.6021C3.68693 14.8897 3.12271 14.052 2.70698 13.089C2.29124 12.126 2.08337 11.097 2.08337 10.002C2.08337 8.90708 2.29115 7.87789 2.70671 6.91444C3.12226 5.95098 3.68622 5.11292 4.39858 4.40024C5.11096 3.68754 5.94866 3.12333 6.91169 2.70759C7.8747 2.29185 8.90368 2.08398 9.99862 2.08398C11.0936 2.08398 12.1228 2.29176 13.0862 2.70732C14.0497 3.12287 14.8877 3.68683 15.6004 4.39919C16.3131 5.11157 16.8773 5.94927 17.2931 6.9123C17.7088 7.87531 17.9167 8.90429 17.9167 9.99924C17.9167 11.0942 17.7089 12.1234 17.2933 13.0868C16.8778 14.0503 16.3138 14.8883 15.6015 15.601C14.8891 16.3137 14.0514 16.8779 13.0884 17.2937C12.1253 17.7094 11.0964 17.9173 10.0014 17.9173ZM10 16.6673C11.8611 16.6673 13.4375 16.0215 14.7292 14.7298C16.0209 13.4381 16.6667 11.8617 16.6667 10.0006C16.6667 8.13952 16.0209 6.56313 14.7292 5.27146C13.4375 3.9798 11.8611 3.33396 10 3.33396C8.13891 3.33396 6.56252 3.9798 5.27085 5.27146C3.97919 6.56313 3.33335 8.13952 3.33335 10.0006C3.33335 11.8617 3.97919 13.4381 5.27085 14.7298C6.56252 16.0215 8.13891 16.6673 10 16.6673Z' fill='%23BDBDBD'/%3E%3C/g%3E%3C/svg%3E");
      }

      &.--isActive {
        --checkbox-marker: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_3012_61297' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3012_61297)'%3E%3Cpath d='M10 13.7506C11.0406 13.7506 11.9257 13.3858 12.6555 12.6561C13.3852 11.9264 13.75 11.0412 13.75 10.0006C13.75 8.96005 13.3852 8.0749 12.6555 7.34519C11.9257 6.6155 11.0406 6.25065 10 6.25065C8.95944 6.25065 8.07429 6.6155 7.34458 7.34519C6.61489 8.0749 6.25004 8.96005 6.25004 10.0006C6.25004 11.0412 6.61489 11.9264 7.34458 12.6561C8.07429 13.3858 8.95944 13.7506 10 13.7506ZM10.0014 17.9173C8.90647 17.9173 7.87728 17.7095 6.91383 17.2939C5.95037 16.8784 5.1123 16.3144 4.39962 15.6021C3.68693 14.8897 3.12271 14.052 2.70698 13.089C2.29124 12.126 2.08337 11.097 2.08337 10.002C2.08337 8.90708 2.29115 7.87789 2.70671 6.91444C3.12226 5.95098 3.68622 5.11292 4.39858 4.40024C5.11096 3.68754 5.94866 3.12333 6.91169 2.70759C7.8747 2.29185 8.90368 2.08398 9.99862 2.08398C11.0936 2.08398 12.1228 2.29176 13.0862 2.70732C14.0497 3.12287 14.8877 3.68683 15.6004 4.39919C16.3131 5.11157 16.8773 5.94927 17.2931 6.9123C17.7088 7.87531 17.9167 8.90429 17.9167 9.99924C17.9167 11.0942 17.7089 12.1234 17.2933 13.0868C16.8778 14.0503 16.3138 14.8883 15.6015 15.601C14.8891 16.3137 14.0514 16.8779 13.0884 17.2937C12.1253 17.7094 11.0964 17.9173 10.0014 17.9173ZM10 16.6673C11.8611 16.6673 13.4375 16.0215 14.7292 14.7298C16.0209 13.4381 16.6667 11.8617 16.6667 10.0006C16.6667 8.13952 16.0209 6.56313 14.7292 5.27146C13.4375 3.9798 11.8611 3.33396 10 3.33396C8.13891 3.33396 6.56252 3.9798 5.27085 5.27146C3.97919 6.56313 3.33335 8.13952 3.33335 10.0006C3.33335 11.8617 3.97919 13.4381 5.27085 14.7298C6.56252 16.0215 8.13891 16.6673 10 16.6673Z' fill='%237D98F6'/%3E%3C/g%3E%3C/svg%3E");

        border-color: var(--blue-200);

        .header__children-span {
          color: var(--blue-400);
        }
      }
    }

    &-img {
      position: relative;

      width: rem(30);
      height: rem(30);

      border: rem(1) solid var(--blue-200);
      border-radius: 50%;
      overflow: hidden;

      & > img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    &-span {
      font-size: rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: var(--grey-3);
    }
  }

  &__lesson {
    @include flex-v-center;
    gap: rem(8);
  }

  &__manual {
    @include flex-all-center;

    border-radius: rem(5);
    width: rem(32);
    height: rem(32);
    background-color: var(--bg);

    &-svg {
      width: rem(20);
      height: rem(20);
      fill: var(--blue-300);
    }
  }

  &__dropdown {
    position: relative;

    &-btn {
      @include flex-v-center;
      gap: rem(8);

      height: rem(34);
      padding-inline: rem(12);

      background-color: var(--bg);
      border-radius: rem(5);
    }
    &-inner {
      z-index: 1;

      width: rem(300);
      padding: rem(16) rem(3);

      border-radius: 10px;
      background-color: var(--white);
      box-shadow: 2px 2px 8px 0 #0000001a;
    }
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: rem(4);
    }
    &-item {
      padding-inline: rem(12);
      font-size: 13px;
      line-height: 16px;

      &.--title {
        margin-bottom: rem(8);

        font-weight: 500;
        color: var(--grey-1);
      }

      &:not(.--title) {
        padding-block: rem(4);

        font-weight: 400;
        color: var(--grey-3);

        cursor: pointer;

        &.--active {
          background-color: var(--blue-100);
        }

        @include hover {
          background-color: var(--blue-50);
        }
      }
    }
  }
}

@include mq('xl') {
  .header {
    &__lesson {
      .btn.btn--accent {
        margin-left: rem(20);
      }
    }
  }
}

@include mq('lg') {
  .header {
    &__submenu {
      width: 45%;
      top: 0;
      right: 0;
      height: 100%;
      z-index: var(--ui-index-5);
    }

    &__container {
      &--lesson {
        .header__nav {
          display: none;
        }

        .header__lesson {
          display: grid;
          grid-template-columns: rem(32) auto;
        }
        .btn.btn--grey {
          grid-column: 2 span;
          margin-top: rem(16);
        }
      }
    }

    &__school {
      display: block;
    }

    &__buttons {
      display: flex;
    }

    &__head {
      margin-bottom: rem(28);
      &-close,
      &-img {
        display: block;
      }
    }

    &__submenu {
      width: 90%;

      &-name {
        font-size: rem(20);
      }

      &-link {
        font-size: rem(18);
      }
    }

    &__buttons {
      &-btn {
        border-color: var(--orange-400);
      }
    }
  }
}

@include mq('md') {
  .header {
    &__time {
      display: none;
    }

    &__buttons {
      display: flex;
      &-btn {
        width: 100%;
      }
    }

    &__school {
      &-menu {
        display: flex;
        justify-content: center;

        width: 100%;
      }
    }

    &__title {
      font-size: rem(24);
      span {
        display: none;
      }
    }
  }
}
