.signIn-courses {
  .modal__title {
    padding-top: rem(52);
  }
  .error {
    margin-bottom: rem(15);
  }
}

.login {
  &__form-img {
    position: absolute;
    top: rem(60);
    left: 50%;
    transform: translateX(-50%);

    width: rem(92);
    height: rem(22);
  }

  &__form-bottom {
    @include flex-all-sb;

    margin-bottom: rem(30);
  }

  &__form-controls {
    @include flex-v-center;
    flex-direction: column;
    gap: rem(16);

    margin-bottom: rem(30);

    & > span {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: var(--grey-3);
    }
  }

  &__form-btn {
    width: rem(250) !important;
  }

  &__form-svg {
    width: rem(20);
    height: rem(20);

    fill: #fff;
  }

  &__signUp {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: var(--grey-4);

    .to-register {
      text-decoration: underline;
      color: var(--blue-400);
    }
  }
}

@include mq('md') {
  .login {
    &__form {
      width: 100%;
      height: 100%;
      padding: rem(30) rem(20);

      &::before,
      &::after {
        content: none;
      }
    }

    &__form-logo {
      width: rem(250);
      height: rem(100);
    }
  }
}

@include mq('sm') {
  .login__form__bottom-label {
    max-width: 139px;
  }
}
