.login {
  @include flex-all-center;

  height: 100vh;
  padding: rem(202) 0 rem(204);

  position: relative;
  z-index: 2;

  background: #e0ebff url('/assets/img/static/logo__bg.svg') no-repeat bottom / cover;

  &__content {
    @include flex-all-center;

    position: relative;
  }

  &__form {
    @include flex;
    flex-direction: column;

    width: rem(540);
    padding: rem(60) rem(50);
    margin: 0 auto;

    position: relative;

    border-radius: rem(10);
    background-color: #fff;
    box-shadow: rem(2) rem(2) rem(8) 0 rgba(0, 0, 0, 10%);

    &::before {
      content: '';

      width: rem(757);
      height: rem(680);

      position: absolute;
      top: rem(-72);
      left: rem(-155);

      background:
        url('/assets/img/static/women.png') no-repeat left bottom / rem(169.239) rem(415.252),
        url('/assets/img/static/hat.png') no-repeat right top / rem(194) rem(160.352);
    }

    &::after {
      content: '';

      width: rem(313.227);
      height: rem(283.975);

      position: absolute;
      right: rem(-202.23);
      bottom: rem(24.02);
      z-index: -1;

      background: url('/assets/img/static/books.png') no-repeat left bottom / contain;
    }

    &-inner {
      position: static;
      z-index: 1;
    }
  }

  &__form-img {
    @include flex-h-center;
  }

  &__form-logo {
    width: rem(300);
    height: rem(150);
  }

  &__form-title {
    margin-bottom: rem(30);

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: rem(24);
    line-height: 120%;
    text-align: center;
    color: #1c1c1c;
  }

  &__form-label {
    @include flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(16);
    line-height: 120%;
    color: #828282;
  }

  &__form__label-text {
    margin-bottom: rem(10);
  }

  &__form__lable-input {
    padding: rem(8) rem(16);
    margin-bottom: rem(15);

    border: none;
    border-radius: rem(5);
    background: #eef4ff;
  }

  &__form__bottom-label {
    @include flex;
    align-items: flex-start;
    gap: rem(10);
  }

  &__form-bottom {
    @include flex-all-sb;
  }

  &__form__bottom-span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: rem(14);
    line-height: 120%;
    color: #828282;
  }

  &__form__bottom-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    text-transform: uppercase;
    color: #bdbdbd;
  }

  &__form-button {
    @include flex-h-center;

    margin-top: rem(31);
  }

  &__form-btn {
    @include flex-v-center;
    gap: rem(5);

    padding: rem(15) rem(87);

    border-radius: rem(5);
    background: #ffa349;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem(14);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &__form-svg {
    width: rem(20);
    height: rem(20);

    fill: #fff;
  }
}

@include mq('md') {
  .login {
    &__form {
      width: 100%;
      height: 100%;
      padding: rem(30) rem(20);

      &::before,
      &::after {
        content: none;
      }
    }

    &__form-logo {
      width: rem(250);
      height: rem(100);
    }
  }
}

@include mq('sm') {
  .login__form__bottom-label {
    max-width: 139px;
  }
}
